h2 {
    font-size: 30px;
  }
#thick {
font-weight: bold;
font-size: 120%;
} 
.program {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 40%;
    padding-top: 3%;
    padding-left: 20px;
  }
  .inheader-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    align-content: left;
    margin: 0 -5px;
  }
.inheader-img {
    flex-grow: 1;
    flex-basis: content;
    width: 40%;
    padding: 0;
    margin: 0 5px;
    
}
@media (min-width: 750px) {
    .inheader-img {
        width: 25%;
    }
}
.inheader-text {
    flex-grow: 3;
    flex-basis: content;
    text-align: left;
    width: 60%;
    margin: 0 5px;
    padding-left: 5%;
    padding-right: 100px;
    vertical-align: top;
}
@media (min-width: 750px) {
    .inheader-text {
        width: 50%;
    }
}
.content {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.content-left {
    flex-grow: 1;
    flex-basis: content;
    width: 30%;
    padding-left: 5%;
    vertical-align: top;
}
@media (min-width: 750px) {
    .content-left {
        width: 15%;
    }
}
.content-right {
    flex-grow: 3;
    flex-basis: content;
    width: 65%;
    vertical-align: top;  
}
@media (min-width: 750px) {
    .content-right {
        width: 35%;
    }
}

.item-container {
    display: block;
}

.about-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;    
}

.text-part {
    flex-grow: 1;
    width: 40%;
    text-align: left;
    flex-basis: content;   
}
@media (min-width: 750px) {
    .text-part {
        width: 30%;
    }
}
.image-part {
    flex-grow: inherit;
    width: 35%;
    align-content: right;
    margin-right: 0;
    padding-top: 13%;
    vertical-align: bottom;
    flex-basis: content;
    padding-right: 2%;    
}
@media (min-width: 750px) {
    .image-part {
        width: 35%;
    }
}