h2 {
    font-size: 30px;
  }
  
.program {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 40%;
    padding-top: 3%;
    padding-left: 20px;
  }
  .inheader-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    align-content: left;
    margin: 0 -5px;
  }
.inheader-img {
    flex-grow: 1;
    flex-basis: content;
    width: 40%;
    padding: 0;
    margin: 0 5px;
    
}
@media (min-width: 750px) {
    .inheader-img {
        width: 25%;
    }
}
.inheader-text {
    flex-grow: 3;
    flex-basis: content;
    text-align: left;
    width: 60%;
    margin: 0 5px;
    padding-left: 5%;
    padding-right: 100px;
    vertical-align: top;
}
@media (min-width: 750px) {
    .inheader-text {
        width: 50%;
    }
}
.content {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: ;  
}


.content-left {
    width: 30%;
    display: inline-block;
    padding-left: 5%;
    vertical-align: top;
}
.content-right {
    width: 69%;
    display: inline-block;
    vertical-align: top;
    
}

.professor-container {
    display: block;
}

.professor-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: ;  
    
}

.text-part {
    width: 70%;
    text-align: justify;
    flex-basis: content;
    
}
.image-part {
    width: 25%;
    align-content: right;
    margin-right: 0;
    vertical-align: bottom;
    flex-grow: inherit;
    flex-basis: content;
    padding-right: 2%;    
}